from playsound import playsound
playsound('FILE NAME.mp3')
import sys,time,,

def music():
    playsound('/Users/raid/Downloads/1.mp3')
  

message ="I'll blow up into smithereens \n"

def types(message):
    for char in message:
        sys.stdout.write(char)
        time.sleep(0.04)
        sys.stdout.flush()
  
types(message)

a="And spew my tiny symphony\n"
def types1(a):
    for char in a:
        sys.stdout.write(char)
        time.sleep(0.04)
        sys.stdout.flush()
        
types1(a)

b="All up and down a city street\n"
def types2(b):
    for char in b:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types2(b)

c="While tryna put my mind at ease\n"
def types3(c):
    for char in c:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types3(c)

d="Like finishing this melody\n"
def types4(d):
    for char in d:
        sys.stdout.write(char)
        time.sleep(0.02)
        sys.stdout.flush()
        
types4(d)

e="This feels like a necessity\n"
def types5(e):
    for char in e:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types5(e)

f="So this could be the death of me\n"
def types6(f):
    for char in f:
        sys.stdout.write(char)
        time.sleep(0.02)
        sys.stdout.flush()
        
types6(f)

g="Or maybe just a better me\n"
def types7(g):
    for char in g:
        sys.stdout.write(char)
        time.sleep(0.04)
        sys.stdout.flush()
        
types7(g)

h="\nNow, come in with the timpanis\n"
def types8(h):
    for char in h:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types8(h)

i="And take a shot of Hennessy\n"
def types9(i):
    for char in i:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types9(i)

j="I know I'm not there mentally\n"
def types10(j):
    for char in j:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types10(j)

k="But you could be the remedy\n"
def types12(k):
    for char in k:
        sys.stdout.write(char)
        time.sleep(0.03)
        sys.stdout.flush()
        
types12(k)

l="So let me play my violin for you!!!\n"
def types13(l):
    for char in l:
        
        sys.stdout.write(char)
        sys.stdout.flush()
        time.sleep(0.1)
types13(l)
